.custom-navbar {
  background-color: rgba(0, 0, 0, 0.9); /* Dark background */
  padding: 2rem 0; /* Space around the logo */
  z-index: 1030; /* Ensure it stays above other elements */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.navbar-brand {
  font-size: 35px;
  font-weight: bold;
  color: orange;
  text-decoration: none;
  padding-left: 10px; /* Add left padding if necessary */

}

.navbar-brand:hover {
  color: #FF640A; /* Subtle hover effect */
}