.custom-navbar {
  background-color: rgba(0, 0, 0, 1); 
  padding: 2rem 0; 
  z-index: 1030; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.navbar-brand {
  font-size: 35px;
  font-weight: bold;
  color: orange;
  text-decoration: none;
  padding-left: 10px; 

}

.navbar-brand:hover {
  color: #FF640A; 
}