/* General styles for the landing navbar */
.landing-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; 
}

.landing-navbar .logo {
  font-size: 20px;
  font-weight: bold;
  color: orange;
}

.landing-navbar .nav-links {
  display: flex;
  gap: 50px;
  margin-right: 20px;
}

.landing-navbar .nav-links a {
  color: orange;
  text-decoration: none;
  font-size: 22px;
}

.landing-navbar .search-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.landing-navbar .search-input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.landing-navbar .logout {
  color: orange;
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
}